Django==4.2.7
psycopg2-binary==2.9.9
python-decouple==3.8
django-crispy-forms==2.1
crispy-bootstrap5==2023.10
Pillow==10.1.0
openpyxl==3.1.2
django-extensions==3.2.3
gunicorn==21.2.0
whitenoise==6.6.0
celery==5.3.4
redis==5.0.1
django-redis==5.4.0